.car-category-bar
  %a.fill-div.span2.offset2.car-category{ :href => '#activeModal', :role => "button", "data-toggle" => 'modal'} Active Cars

  %a.fill-div.span2.car-category{ :href => '#vacantModal', :role => "button", "data-toggle" => 'modal'} Vacant Cars

  %a.fill-div.span2.car-category{ :href => '#checkInModal', :role => "button", "data-toggle" => 'modal'} Checked In 

  %a.fill-div.span2.car-category{ :href => '#checkOutModal', :role => "button", "data-toggle" => 'modal'} Checked Out 
%br
%br
.date-row.offset3
  .lead.alert-text.span6
  %input.date.startDate.span6{:position => 'start', :placeholder => 'Check Utilization Within Date Range', :time => ''} 
  %input.date.endDate.hidden.span6{:position => 'end', :placeholder => 'End Date', :time => ''} 

%br
.info.lead




.lead.car-header Current Complete Fleet
.row
  - for car in @cars
    .admin-car.span2
      %a#fill-div{:href => "/car/#{car.id}"} License Plate: #{car.license_number}
  


#activeModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    - for car in @active_cars
      .admin-car.span3.offset1
        %a#fill-div{:href => "/car/#{car.id}"} License Plate: #{car.license_number}

      - reservation = car.reservations.last
      .span5.display-date Active for: #{((Date.today.to_time - reservation.start_date.to_time)/1.day).round} days
  .modal-footer
    .close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} close

#vacantModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    - for car in @vacant_cars
      .admin-car.span3.offset1
        %a#fill-div{:href => "/car/#{car.id}"} License Plate: #{car.license_number}
  .modal-footer
    .close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} close

#checkOutModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    - for car in @picked_up_cars
      .lead.span4.push-left Was this car picked up on #{car.reservations.last.start_date}
      
      .admin-car.span3.offset1
        %a#fill-div{:href => "/car/#{car.id}"} License Plate: #{car.license_number}
      .check_out_button.span5.accept-button{:id => car.id} Yes
        
        
  .modal-footer
    .close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} close

#checkInModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    - for car in @returned_cars
      .lead.span4.push-left Was this car returned on #{car.reservations.last.end_date}
      
      .admin-car.span3.offset1
        %a#fill-div{:href => "/car/#{car.id}"} License Plate: #{car.license_number}
      .check_in_button.span5.accept-button{:id => car.id} Yes

        
        
  .modal-footer
    .close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} close




:coffeescript
  $ ->

    checkReservationRange = (context) ->
      return unless context['select'] 
      $('.alert-text').html('')
      return $('.alert-text').html("Please Choose Dates Before Today") if context['select'] > new Date().getTime()
      if $('.startDate').attr('time') == ''
        $('.startDate').attr('time', context['select']/1000 )
        $('.date').toggleClass('hidden')
        return
      start_date = $('.startDate').attr('time')
      end_date = context['select']/1000

      return $('.alert-text').html("End Date Must Be Later Than Start Date") if parseInt(start_date) > parseInt(end_date)

      $('.startDate').attr('time', '')
      $('.startDate').val('')
      $('.endDate').attr('time', '')
      $('.startDate').removeClass('hidden')
      $('.endDate').addClass('hidden')
      

      $.postJSON "/check_fleet_utilization", {start_date: start_date, end_date: end_date}, (response) =>
          $('.info').html 'From ' + response.start + ' to ' + response.end + ' ' + response.percent + '% of the fleet was utilized'
        


    $('.date').pickadate
      container: '.date-row'
      onSet: checkReservationRange





    checkInCar = (e) ->
      car_id = e.currentTarget.id
       
      $("#"+ e.currentTarget.id).html("The car has been sucessfully checked in")
      
     
      $.postJSON '/check_in_car', {id: car_id}, (response) =>


    checkOutCar = (e)->
     
      car_id = e.currentTarget.id
     
      $("#"+ e.currentTarget.id).html("The car has been sucessfully checked out")
      
      $.postJSON '/check_out_car', {id: car_id}, (response) =>

     
    $('.check_out_button').on('click', checkOutCar)
    $('.check_in_button').on('click', checkInCar)






