
%a#fill-div-green{ :href => '#activeModal', :role => "button", "data-toggle" => 'modal'} Active Cars

%a#fill-div-green{ :href => '#vacantModal', :role => "button", "data-toggle" => 'modal'} Vacant Cars

%a#fill-div-green{ :href => '#checkInModal', :role => "button", "data-toggle" => 'modal'} Cars needing checked in 

%a#fill-div-green{ :href => '#checkOutModal', :role => "button", "data-toggle" => 'modal'} Cars needing checked out 

%h4 Check percentage of fleet used in date range
%input.date.startDate{:position => 'start', :placeholder => 'Start Date', :time => ''} 

%input.date.endDate.hidden{:position => 'end', :placeholder => 'End Date', :time => ''} 

.info


%h3 Launch Analytics Page

%h2 Complete Fleet
- for car in @cars
  %h3 #{car.make} #{car.model} #{car.license_number}
  = link_to 'car page', "/car/#{car.id}"


#activeModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    - for car in @active_cars
      %h1 #{car.model} #{car.make}
      %h2 License: #{car.license_number}
      - reservation = car.reservations.last
      %h2 Active for: #{((Date.today.to_time - reservation.start_date.to_time)/1.day).round} days
  .modal-footer
    .small-launchbutton.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} close

#vacantModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    - for car in @vacant_cars
      %h1 #{car.model} #{car.make}
      %h2 License: #{car.license_number}
  .modal-footer
    .small-launchbutton.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} close

#checkOutModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    - for car in @picked_up_cars
      %h1 #{car.model} #{car.make}
      %h2 License: #{car.license_number}
      %h2 Was this car picked up on #{car.reservations.last.start_date}
      %h1.check_out_button{:id => car.id} Yes
  .modal-footer
    .small-launchbutton.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} close

#checkInModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  .modal-body
    - for car in @returned_cars
      %h1 #{car.model} #{car.make}
      %h2 License: #{car.license_number}
      %h2 Was this car returned on #{car.reservations.last.end_date}
      %h1.check_in_button{:id => car.id} Yes
  .modal-footer
    .small-launchbutton.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} close




:coffeescript
  $ ->

    checkReservationRange = (context) ->
      return unless context['select'] 
      if $('.startDate').attr('time') == ''
        $('.startDate').attr('time', context['select']/1000 )
        $('.date').toggleClass('hidden')
        return
      start_date = $('.startDate').attr('time')
      end_date = context['select']/1000

      return $('.alert').html("End Date Must Be Later Than Start Date") if parseInt(start_date) > parseInt(end_date)

      $('.startDate').attr('time', '')
      $('.startDate').val('')
      $('.endDate').attr('time', '')
      $('.startDate').removeClass('hidden')
      $('.endDate').addClass('hidden')
      

      $.postJSON "/check_fleet_utilization", {start_date: start_date, end_date: end_date}, (response) =>
          $('.info').html 'From ' + response.start + ' to ' + response.end + ' ' + response.percent + '% of the fleet was utilized'
        


    $('.date').pickadate
      onSet: checkReservationRange





    checkInCar = (e) ->
      car_id = e.currentTarget.id
       
      $("#"+ e.currentTarget.id).html("The car has been sucessfully checked in")
      
     
      $.postJSON '/check_in_car', {id: car_id}, (response) =>
        console.log "Friend Request Made"


    checkOutCar = (e)->
     
      car_id = e.currentTarget.id
     
      $("#"+ e.currentTarget.id).html("The car has been sucessfully checked out")
      
      $.postJSON '/check_out_car', {id: car_id}, (response) =>
        console.log "Friend Request Made"

     
    $('.check_out_button').on('click', checkOutCar)
    $('.check_in_button').on('click', checkInCar)






