

.row.user-show-info
  .show-user.span5

  .span5.offset2
    .lead User Name: #{@member.email}

    .lead Rental Count: #{@reservation_count} #{@time}
    - if @reservation_count > 0
      - for car_res in @uniq_car_reservations
        - car = car_res.car
        .lead #{car.make} #{car.model}: #{car.license_number}
        .lead Current status: #{car.status}
    
