.info-line.lead.span10.offset1 Your #{@car.make} #{@car.model} with license plate number: #{@car.license_number} will be available for pickup on #{@date}

.cancel-button-holder.offset4
  = button_to "Cancel Reservation","/end_reservation/#{@car.id}", {:controller => :cars, :action => 'end_reservation', :class => 'cancel-button' }