%h1 Your #{@car.make} #{@car.model} with a license of #{@car.license_number} will be available for pickup on #{@date}


= button_to "End Reservation","/end_reservation/#{@car.id}", {:controller => :cars, :action => 'end_reservation' }